*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  transition: all .5s ease;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(150deg, #153677, #4e085f);
  padding: 10px;
}

.task__app {
  position: relative;
  background-color: green;
  width: 70%;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.top h1 {
  color: #002765;
  margin-top: 20px;
  margin-right: 10px; 
}

.writing__pic {
  width: 80px;
  height: auto;
  object-fit: cover;
}

.input__row {
  position: relative;
  display: flex;
  /* gap: 10px; */
  align-items: center;
  justify-content: space-around;
  background-color: #edeef0;
  border-radius: 30px;
  padding: 0px 0px 0px 20px;
  margin-bottom: 25px;
}

.task__input {
  flex: 1;
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 16px;
}

.date__picker::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}

.date__picker::-webkit-datetime-edit-month-field{
  -webkit-appearance: none;
  display: none;
}

.date__picker::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}

.date__picker::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}

.date__picker::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  opacity: 0;
  width: 100%;
  cursor: pointer;
}

.date__picker {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: scale(-10%,-10%) */ 
  background: transparent url(calendar.png) ;
  /* background-position: 90%; */
  background-size: 100%;
  background-repeat: no-repeat;
}

.add__btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 30px;
  background-color: #ff5945;
  color: #fff;
  font-size: 16px;
  font-weight: 14px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

}

.tasks__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  gap: 30px;
}

.element__box {
  width: 100%;
  /* position: relative; */
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  /* justify-content:left; */
  gap: 20px;
  user-select: none;
  overflow: hidden;
  /* background-color: gray; */
}


.serial__element {
  /* display: inline-flex; */
  /* position: absolute;
  left: 0px; */
  border: none;
  outline: none;
  padding: 2px 5px;
  background-color: #ff5945;
  color: #fff;
  border-radius: 50%;
}
.text__element { 
  /* position: absolute;
  right: 150px;
  left: 50px; */
  width: 600px;
  overflow: auto;
}

.todo__element {
  /* display: inline-flex; */
  /* position: absolute;
  right: 50px; */
}


    
    .delete__btn {
      width: 25px;
      height: 25px;
      /* position: absolute;
      right: 0px; */
      display: flex;
      justify-content: end;
      margin-left: 20px;
      cursor: pointer;
      background: transparent;
      padding: -1px -2px;
      border: none;
      border-radius: 50%;
      background-image: url('trash.png');
      background-position:center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    

